* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    box-sizing:border-box ;
}

body {
    background-image: url(../img/pexels-salvio-bhering-11668-58729.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

/* Comienzo del header */
header {
    background-color: #000000;
    padding: 10px;
}

header ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

header ul.navegacion.show {
    display: flex;
}


ul.navegacion li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
    text-transform: uppercase;
}


ul.navegacion li a {
    text-decoration: none;
    color: white;
}

ul.navegacion li a:hover {
    color: gray;
}

.icono-menu {
    height: 50px;
}

.logo {
    display: none;
}

@media screen and (min-width: 1000px) {

    header {
        display: flex;

    }

    /* se oculta el boton en desktop / */
    .icono-menu {
        display: none;
    }

    /* cambiamos la direccion del flex en desktop / */
    ul.navegacion {
        display: flex;
        flex-direction: row;
    }

    .logo {
        display: block;
        height: 50px;
    }



}

/* Fin del header / */
/* Comienzo del main */
.container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}

.h1-productos {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 0 black;
}




/* Menu Lateral */
.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 2;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.abrir-menu {
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.cerrar-menu {
    width: 25px;
    cursor: pointer;
}


@media screen and (min-width: 1000px) {
    .container {
        max-width: 300px;
    }

    .h1-productos {
        font-size: 4rem;
    }

    .abrir-menu {
        transform: scale(1.5);
    }

    .nav-list li a{
        font-size: 30px;
        
    }

}

/* fin del menu lateral */
/* comienzo de productos */

.productos {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.tarjeta {
    border: 2px solid black;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}


.tarjeta:nth-of-type(1) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(2) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(3) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(4) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(5) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(6) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(7) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(8) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(9) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(10) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(11) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(12) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(13) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(14) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(15) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(16) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(17) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(18) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(19) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(20) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(21) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(22) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(23) {
    transition-duration: 1s;
}

.tarjeta:nth-of-type(24) {
    transition-duration: 1s;
}



.tarjeta-sinnav:hover {
    transform: scale(1.2);
}

.tarjeta-cuerpo {
    border-top: 2px solid black;
    padding: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.tarjeta-cuerpo h3{
    text-align: center;
}

.tarjeta-cuerpo a {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
}



.remera-oversize {
    width: 150px;
}

@media (min-width: 1000px) {
    .productos {
        flex-direction: row;
    }

    .tarjeta {
        width: 250px;
    }

    .remera-oversize {
        width: 300px;
    }
}
/* fin de productos */
/* fin del main */
/* Comienzo del footer */
footer {
    background-color: black;
    color: white;
}

ul.navegacion-footer li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;


}

.h1-footer {
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
}





.social-icons-container {
    display: flex;
    flex-direction: row;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../img/580b57fcd9996e24bc43c521.webp);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;

    &:nth-of-type(2) {
        background-image: url(../img/logo-facebook.png.webp);
    }

    &:nth-of-type(3) {
        background-image: url(../img/TikTok-logo-black-circle-png.webp);
    }

    &:nth-of-type(4) {
        background-image: url(../img/580b57fcd9996e24bc43c53e.webp);
    }
}


@media (min-width: 1000px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }
}
/* fin del footer */